.bg {
  height: 100vh;
  background-image: url(../../../public/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.flex {
  display: flex;
  flex-direction: column;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}
.text-Style {
  color: rgb(255 255 255);
  padding: 3% 0;
}
.innerdiv {
  width: 420px;
  padding-top: 10%;
  padding-left: 10%;
}
.to_side {
  padding: 5% 7% 0%;
  border: 2px solid rgb(126 126 126);
  border-radius: 10px;
}
.input_style {
  font-size: 18px;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 0% 0 4%;
}
.input-label {
  font-weight: 500;
}
.submit_btn {
  background-color: rgb(13 110 253);
  color: white;
  font-size: 16px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 5% 0;
  cursor: pointer;
  width: 22%;
}
.checkbox {
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  width: 10px;
  height: 10px;
}
