.Outerdiv {
  margin: 0 10%;
  height: 40vh;
}
.InnerDiv {
  height: 40vh;
  background-image: url(../../../public/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2%;
}
.textStyle {
  color: rgb(254 255 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.Tile {
  margin: 0;
  font-size: 64px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  line-height: 2;
}
.quots {
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 600;
}
.searchBox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.input-style {
  margin: 0 8px;
  margin-top: 20px;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.long-input {
  width: 350px;
}
@media (max-width: 900px) {
  .Tile {
    font-size: 40px;
    font-weight: 550;
  }
  .quots {
    font-size: 20px;
  }
  .searchBox {
    flex-direction: column;
  }
  .long-input {
    width: 250px;
  }
}
